<!DOCTYPE html>
<html lang="en" ng-app="MainApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>מדעי ההתנהגות - פרויקטים</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600" rel="stylesheet">
    <link rel="icon" href="../../assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/vendor.bundle.css">
    <link rel="stylesheet" href="../../assets/css/app.bundle.css">
    <link rel="stylesheet" href="../../assets/css/theme-a.css">
    <link href="../../assets/css/myStyle.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>



    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-storage.js"></script>

    <!--// Initialize Firebase-->
    <script src="../../js/inizialize.js"></script>

    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/services/systemService.js"></script>
    <script src="../../js/services/groupService.js"></script>
    <script src="../../js/filter/limitTo.js"></script>
    <script src="../../js/controllers/projectBoard.js"></script>

    <style>
        body {
            font-family: "Open Sans",sans-serif;
        }
    </style>
</head>
<body dir="rtl">
    <div ng-controller="projectController">
        <div class="card card-salmon">
            <header class="card-heading card-salmon p-b-20 md-bg-indigo-500" style="min-height:55px;background-color:#00507e!important;">
                <div class="card-search">
                    <div class="form-group">
                        <a href="javascript:void(0)"
                           class="close-search"
                           data-card-search="close"
                           data-original-title="Close"
                           ng-click="search.$=''"><i class="zmdi zmdi-close"></i></a>
                        <input ng-model="search.$" type="text" placeholder="חיפוש..." class="form-control" autocomplete="off">

                    </div>
                </div>
                <ul class="card-actions icons right-top">
                    <li>
                        <a href="javascript:void(0)"
                           style="background-color:#00507e!important;"
                           data-card-search="open">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                </ul>
            </header>
        </div>
        <div class="row"
             style="margin-right:50px;">
            <div class="col-xs-12 col-md-6">
                <img id="rup-board" src="../../header-behavioral.png" />
            </div>
            <div class=" col-xs-12 col-md-3 text-left">
                <h1 style="position:relative;right:50px;">
                    גלריית פרויקטים
                </h1>
            </div>
            <div class="col-xs-12 col-md-3"
                 style="margin-bottom:50px;">
                <div class="row">
                    <select style="width:300px;"
                            ng-model="search.details.general.year"
                            class="">
                        <option value="">  בחר שנה </option>
                        <option ng-repeat="x in year"
                                value="{{x}}">
                            {{x}}
                        </option>
                    </select>
                </div>
                <div class="row">

                    <select style="width:300px;"
                            ng-model="search.details.general.area.name"
                            class="">
                        <option value=""> בחר סוג</option>
                        <option ng-repeat="x in areaTypeArr"
                                value="{{x.desc}}">
                            {{x.desc}}
                        </option>
                    </select>
                </div>
                <div class="row">
                    <select style="width:300px;"
                            ng-model="search.details.general.area.desc"
                            class="">
                        <option value="">בחר תחום</option>
                        <option ng-repeat="x in areaNameArr"
                                value="{{x.val}}">
                            {{x.val}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <section class="p-10"
                 style="margin:0 100px 0 100px">
            <div ng-cloak class="content-body">
                <div class="row">
                    <a href="../users/group/preview.html" target="_blank">
                        <div ng-if="group.published"
                             ng-repeat="group in groupArr | filter:search"
                             ng-click="set(group)"
                             data-id="{{group.id}}"
                             class="col-xs-12 col-md-3">
                            <div class="card clickable">
                                <header class="card-heading card-image app_primary_bg"
                                        style="min-height:50px;
                                            max-height:50px;
                                        background-color:#64a185!important;
                                                   background-repeat:no-repeat;
                                                   background-image: url({{group.details.poster.imageUrl}});
                                                   background-size: 20% 100%;">

                                    <p ng-bind="group.details.general.area.desc"
                                       style="padding:10px;color:#fff;font-size:11px!important;"></p>

                                </header>
                                <div class="card-body"
                                     style="min-height:182px;
                                                max-height:120px;">
                                    <h4 class="card-title">
                                        {{group.details.project.name| limitTo:120}}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <script src="../../assets/js/vendor.bundle.js"></script>
    <script src="../../assets/js/app.bundle.js"></script>
</body>
</html>