<div class="table-responsive border-grey-bottom-1px m-b-20 m-t-20">
    <table class="table table-hover product-table">
        <thead>
            <tr>
                <th data-orderable="false" class="col-xs-2">
                    <button class="btn btn-primary btn-fab  animate-fab"
                            data-toggle="modal"
                            data-target="#newContactModal">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                </th>
                <th class="col-xs-2">שם מלא</th>
                <th class="col-xs-2">דואר אלקטרוני</th>
                <th class="col-xs-2">טלפון</th>
                <th class="col-xs-1">תמונה</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>אלירן אזולאי</td>
                <td>student1@gmail.com</td>
                <td>0459696894</td>
                <td>
                    <div class="text-right">
                        <span class="avatar"><img src="../../assets/img/profiles/10.jpg" alt="" class="img-circle max-w-40"></span>
                        <span class="name block m-t-10 m-b-10">אלירן</span>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       data-toggle="modal"
                       data-target="#editAdminModal"
                       class="icon edit-customer">
                        <i class="zmdi zmdi-edit m-0">
                        </i>
                    </a>
                    <a href="javascript:void(0)"
                       class="icon edit-customer">
                        <i class="zmdi zmdi-delete m-0">
                        </i>
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>אלירן אזולאי</td>
                <td>student1@gmail.com</td>
                <td>0459696894</td>
                <td>
                    <div class="text-right">
                        <span class="avatar"><img src="../../assets/img/profiles/01.jpg" alt="" class="img-circle max-w-40"></span>
                        <span class="name block m-t-10 m-b-10">אלירן</span>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       data-toggle="modal"
                       data-target="#editAdminModal"
                       class="icon edit-customer">
                        <i class="zmdi zmdi-edit m-0">
                        </i>
                    </a>
                    <a href="javascript:void(0)"
                       class="icon edit-customer">
                        <i class="zmdi zmdi-delete m-0">
                        </i>
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>אלירן אזולאי</td>
                <td>student1@gmail.com</td>
                <td>0459696894</td>
                <td>
                    <div class="text-right">
                        <span class="avatar"><img src="../../assets/img/profiles/02.jpg" alt="" class="img-circle max-w-40"></span>
                        <span class="name block m-t-10 m-b-10">אלירן</span>
                    </div>
                </td>
                <td>
                    <a href="javascript:void(0)"
                       data-toggle="modal"
                       data-target="#editAdminModal"
                       class="icon edit-customer">
                        <i class="zmdi zmdi-edit m-0">
                        </i>
                    </a>
                    <a href="javascript:void(0)"
                       class="icon edit-customer">
                        <i class="zmdi zmdi-delete m-0">
                        </i>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>

