<!DOCTYPE html>
<html lang="en" ng-app="MainApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600" rel="stylesheet">
    <link rel="icon" href="../../../assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/css/vendor.bundle.css">
    <link rel="stylesheet" href="../../../assets/css/app.bundle.css">
    <link rel="stylesheet" href="../../../assets/css/theme-a.css">
    <link href="../../../assets/css/myStyle.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-storage.js"></script>
    <script src="../../../js/app.js"></script>
    <!--// Initialize Firebase-->
    <script src="../../../js/inizialize.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <title> {{configuration.title}} </title>
    
    <!--services-->

    <script src="../../../js/services/youTube.js"></script>
    <script src="../../../js/services/angular-youtube-embed.min.js"></script>

    <script src="../../../js/controllers/previewController.js"></script>




    <title> {{configuration.title}} </title>
    <style>
        .white-background {
            background-color: white !important;
        }
    </style>















</head>

<body dir="rtl">
    <section id="content_outer_wrapper"
             ng-controller="previewController"
             style="padding-left:0px!important;">
        <div class="logo"
             style="height:66px!important">
            <a ng-href="{{configuration.baseUrl()}}">
                <img id="rup-logo"
                     src="{{configuration.logo}}" alt="Logo">
            </a>

        </div>
        <div id="content_wrapper"
             style="padding-top:0px!important;"
             class="card-overlay">
            <div id="header_wrapper" class="header-lg overlay md-bg-indigo-500">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="header">
                                <h1 class="text-white text-right"
                                    ng-bind="preview.details.project.name"
                                    style="text-align:right!important"></h1>
                                <h4 class="text-white text-right"
                                    style="text-align:right!important;
                                          margin-bottom:0px!important">
                                    {{preview.details.general.area.name}}
                                </h4>
                                <p class="text-white text-right"
                                   style="text-align:right!important;">
                                    מנחה :  {{preview.details.general.advisor.name}}
                                </p>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4"
                         style="padding:0!important;">
                        <div class="card">
                            <header class="card-heading ">
                                <h2 class="card-title">הצוות</h2>
                            </header>
                            <div class="card-body">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="member in preview.team">
                                        <div class="row-action-primary">
                                            <img ng-src="{{member.imageUrl}}"
                                                 style="height:40px!important;width:40px!important"
                                                 alt="contact person"
                                                 class="img-circle circle avatar-img">
                                        </div>
                                        <div class="row-content">
                                            <p style="font-size:15px!important;" ng-bind="member.firstName + ' ' +member.lastName"
                                               class="list-group-item-heading">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 pull-right">
                        <div class="card">
                            <header class="card-heading ">
                                <p ng-show="preview.tag" style="margin:  0;
                                        padding-bottom:  0px!important;
                                    ">
                                    <span ng-bind="preview.tag"
                                          class="label label-primary"
                                          style="width:150px;color:#ffffff"></span>
                                </p>
                            </header>
                            <div class="card-body"
                                 style="min-height:10rem;padding-top: 0px;">
                                <p id="summernote">


                                </p>
                            </div>
                            <a ng-show="preview.details.poster.imageUrl" ng-href="{{preview.details.poster.fileUrl}}">
                                <img ng-src="{{preview.details.poster.imageUrl}}" class="pull-left m-r-30 m-b-30" />
                            </a>
                            <div ng-hide="preview.details.poster.imageUrl || preview.details.poster.movieUrl==''" class="embed-responsive embed-responsive-16by9">
                                <div ng-bind-html="youtube"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="preview.details.poster.movieUrl!='' && preview.details.poster.imageUrl"
                         class="card p-15 col-md-4">
                        <div ng-show="youtubeID!=false" class="embed-responsive embed-responsive-16by9">
                            <div ng-bind-html="youtube"></div>
                        </div>
                        <div ng-hide="{{"youtubeID}}" style="text-align:center;color:#796AEE;">
                            <a class="text-center"
                               style="color:#796AEE!important"
                               ng-href="{{preview.details.poster.movieUrl}}"
                               target="_blank">
                                <i style="margin-left:1rem" class="zmdi zmdi-videocam"></i>
                                קישר לסרטון
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="../../../assets/js/vendor.bundle.js"></script>
    <script src="../../../assets/js/app.bundle.js"></script>
</body>
</html>