<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>מדעי ההתנהגות - פרויקטים</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600" rel="stylesheet">
    <link rel="icon" href="../../assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/vendor.bundle.css">
    <link rel="stylesheet" href="../../assets/css/app.bundle.css">
    <link rel="stylesheet" href="../../assets/css/theme-a.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>



    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-storage.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBLyrzF4hcY5xd-8mtdSlY6J4axjzLGuZc",
            authDomain: "behavioralsience-ed36e.firebaseapp.com",
            databaseURL: "https://behavioralsience-ed36e.firebaseio.com",
            projectId: "behavioralsience-ed36e",
            storageBucket: "behavioralsience-ed36e.appspot.com",
            messagingSenderId: "303956946449"
        };
        firebase.initializeApp(config);
    </script>

    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

</head>
<body dir="rtl">
    <div class="card card-salmon">
        <header class="card-heading card-salmon p-b-20 md-bg-indigo-500" style="min-height:55px;">
            <div class="card-search">
                <div class="form-group">
                    <a href="javascript:void(0)" class="close-search" data-card-search="close" data-original-title="Close"> <i class="zmdi zmdi-close"></i></a>
                    <input type="text" placeholder="חיפוש..." class="form-control" autocomplete="off">

                </div>
            </div>
            <ul class="card-actions icons right-top">
                <li>
                    <a href="javascript:void(0)" class="md-bg-indigo-500" data-card-search="open">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
            </ul>
        </header>
    </div>
    <section class="p-10">
        <div id="content" class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card p-b-20">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="" class="control-label">Basic Select Example</label>
                                        <select class="select form-control">
                                            <option>Select an Option</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                            <option>Option 5</option>
                                        </select>
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="control-label">Multiselect Example</label>
                            <select multiple="multiple" data-rule-required="true" class="form-control selectpicker m-0" aria-required="true" placeholder="Select one or more options">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <fieldset disabled>
                                <label for="" class="control-label">Disabled Select</label>
                                <select class="select form-control disabled">
                                    <option>Select an Option</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="card">
                            <header class="card-heading card-image app_primary_bg">
                                <img src="../../assets/img/headers/header-md-09.jpg" alt="" class="mCS_img_loaded">

                            </header>
                            <div class="card-body">
                                <h2 class="card-title">Image Gallery</h2>
                                <p>
                                    Deep v ex celiac twee. Reprehenderit affogato chia, roof party heirloom literally esse sartorial godard ennui
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../assets/js/vendor.bundle.js"></script>
    <script src="../../assets/js/app.bundle.js"></script>
</body>
</html>